.biker {
    transform: scale(1.4);
    margin-bottom: 200px;
    margin-left: 500px;
}

.biketitle {
    font-size: 150px;
    white-space: nowrap;
    align-self: left;
    font-weight: bold;
}

.distancetitle {
    font-size: 120px;
    white-space: nowrap;
    align-self: left;
}

.distancedescription {
    font-size: 100px;
    align-self: left;
}

.bikedistancebox {
    transform: scale(4);
    margin-top: 200px;
    margin-bottom: 100px;
    width: 500px;
    margin-left: 600px;
}

.pacetitle {
    font-size: 120px;
    white-space: nowrap;
    align-self: left;
}

.pacedescription {
    font-size: 100px;
    align-self: left;
}

.bikepacebox {
    transform: scale(4);
    margin-top: 200px;
    margin-bottom: 100px;
    width: 500px;
    margin-left: 600px;
}

.submitbike {
    transform: scale(5);
    margin-top: 200px;
    margin-left: 780px;
    color: white;
    background-color: rgb(149, 98, 166);
}