label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label {
    float:left;
}

.page{
    display:flex;
    flex-direction: column;
    transform: scale(3.9);
    transform-origin: 0 0;
    margin-top: 150px;
    margin-left: 8%;
    position:absolute;
    top: 0; /*[wherever you want it]*/
    left: 0; /*[wherever you want it]*/
}  

.graph{
    position:absolute;
}

.flex-parent {
    display: flex;
}
  
.jc-center {
    justify-content: center;
}

button.margin-right {
    margin-right: 20px;
}

.page-txt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-overflow: clip;
    text-align: center;
}

.top-info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px;
    text-align: center;
    align-self: center;
}

.text-box{
    border: 3px solid rgb(134, 76, 153);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 13px;
    width: 400px;
    height: 152px;
}

.goal-num{
    align-self: center;
}

.input-msg{
    align-self: center;
}

.graph-btn:active {
    border-radius: 10px;
    background-color: rgba(135, 180, 243, 0.65) !important;
}