.bike {
    width: 150px;
    height: 170px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.runner {
    width: 150px;
    height: 160px;
    margin-right: 30px;
}

.lift {
    width: 150px
}
.workoutbox {
    margin-bottom: 30px;
}
.numberbox {
    margin-top: 30px;
}

.submit {
    margin-top: 30px;
    margin-right: 300px;
}