/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 960px) {
/* Here you should set what size you want your div to be 
when viewed on smartphone */
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

.circles{
    display: flex;
    column-gap: 40px;
    justify-content:space-evenly;
    float: down;
}

.form-wrapper{
margin-top:50px;
border-width:10px;
border-style:solid;
border-color: rgb(134, 76, 153);
margin-bottom: 450px;
display: block;
}

.circle{
    float: left;
}
.pookie-inline-wrapper{
    display: flex;
}
.speechbubble{
    width: 300px;
    height: 300px;
}
.btn-primary{
    color: white;
}
.main-buttons{
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.goalsbutton{
    width: 230px;
    height: 100px;
    margin-left: 150px;
    margin-right: 40px;
    font-size: 30px;
    margin-top: 10px;
    background-color: rgb(149, 98, 166);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submitbutton{
    margin-top: -50px;
    color: white;
    margin-left: 35%;
    background-color: rgb(149, 98, 166);
}
.caloriesbutton{
    width: 230px;
    height: 100px;
    font-size: 30px;
    background-color: rgb(149, 98, 166);
    margin-top: 10px;
    margin-right: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 50px
}

.full-form{
    font-size: 100px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right:10px;
    
}

.middleCircle{
    margin-top: 200px;

}
.formats-for-submits{
    font-size: 50px;
}


.workoutgoalsbutton{
    width: 250px;
    height: 100px;
    font-size: 30px;
    margin-top: 10px;
    color: white;
    background-color: rgb(149, 98, 166);
    margin-right: 60px;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.pookie{
    width: 500px;
    height: 700px;
    left: 100px;
    margin-left: 250px;
}
