/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 960px) {
/* Here you should set what size you want your div to be 
when viewed on smartphone */
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

.button-circle-wrapper{
    margin-top: 100px;
}
.circles{
    display: flex;
    column-gap: 200px;
    justify-content:space-evenly;
    float: down;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    outline: none;
}
a:focus {
    outline: none;
}

.form-wrapper{
margin-top: 0%;
border-width:15px;
border-style:solid;
border-color: rgb(134, 76, 153);
border-radius: 2%;
margin-bottom: 450px;
display: block;
}

.circle{
    float: left;
}
.pookie-inline-wrapper{
    display: flex;
}
.speechbubble{
    width: 300px;
    height: 300px;
}
.btn-primary{
    color: white;
}

.circleLabel{
    position:absolute;
}


.main-buttons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  column-gap: 50px;
}

.goalsbutton{
    white-space: nowrap;
    width: 570px;
    font-size: 100px;
    background-color: rgb(137, 70, 160);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submitbutton{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    color: white;
    margin-left: 35%;
    background-color: rgb(137, 70, 160);
}

.track-calories-button{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    color: white;
    margin-left: 35%;
    background-color: rgb(137, 70, 160);
}

.track-workout-button{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    color: white;
    margin-left: 35%;
    background-color: rgb(137, 70, 160);
    margin-left: '1000px' 
}
.caloriesbutton{
    font-size: 100px;
    white-space: nowrap;
    width: 570px;
    background-color: rgb(137, 70, 160);

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.full-form{
    font-size: 100px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right:10px;
}

.middleCircle{
    margin-top: 200px;

}
.formats-for-submits{
    font-size: 50px;
}


.workoutgoalsbutton{
    white-space: nowrap;
    font-size: 100px;
    width: 570px;
    color: white;
    background-color: rgb(137, 70, 160);
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.pookie{
    // width: 1200px;
    // height: 1600px;
    // left: 100px;
    transform: scale(.8);
    // margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 150px;
}

.confetti{
    width:100%;
    height:100%;
}

pookie-box{
    width: 1100px;
    height: 900px;
    margin-top: 140px;
    margin-right: 50px;
    border: 15px solid rgb(134, 76, 153);
    text-size-adjust: 520%;
    //text-align: justify;
    // display: flex;
    justify-content: center;
    align-items: center;

    word-wrap: break-word; 
    padding: 90px;
    border-radius: 25px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
