/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 960px) {
/* Here you should set what size you want your div to be 
when viewed on smartphone */
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

.circles{
    display: flex;
    column-gap: 150px;
    justify-content: space-between;

}

.form-wrapper{
margin-top:50px;
border-width:10px;
border-style:solid;
border-color: rgb(252, 133, 86);
margin-bottom: 70px;
display: flex;
}

.circle{
    float: left;
}
.pookie-inline-wrapper{
    display: flex;
}
.speechbubble{
    width: 300px;
    height: 300px;
}
.btn-primary{
    color: white;
}
.main-buttons{
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.goalsbutton{
    width: 200px;
    height: 100px;
    font-size: 30px;
}

.submitbutton{
    margin-top: -50px;
    color: white;
    margin-left: 35%;
}
.caloriesbutton{
    width: 200px;
    height: 100px;
    font-size: 30px;
}

.full-form{
    font-size: 100px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right:10px;
    
}

.formats-for-submits{
    font-size: 50px;
}


.workoutgoalsbutton{
    width: 300px;
    height: 100px;
    font-size: 30px;
    color: white;

}


.pookie{
    width: 500px;
    height: 700px;
    left: 100px;
}
