.Title1{
    background-color: black;
    color: yellow;
    text-align: center;
}
.Title2{
    background-color: yellow;
    color: purple;
    text-align: center;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}
