.termstitle {
    font-size: 150px;
    white-space: nowrap;
    align-self: left;
    font-weight: bold;
}

.accordion {
    transform: scale(4);
    align-self: left;
    width: 350px;
    margin-top: 800px;
    margin-left: 400px;
}

.home {
    transform: scale(5);
    margin-top: 1000px;
    margin-left: 780px;
    color: white;
    background-color: rgb(149, 98, 166);
}