.termstitle {
    font-size: 150px;
    white-space: nowrap;
    align-self: left;
    font-weight: bold;
}

.accordionterms {
    transform: scale(4.8);
    align-self: left;
    width: 350px;
    margin-top: 800px;
    margin-left: 600px;
}

.backtouserinfo {
    transform: scale(5);
    margin-top: 1000px;
    margin-left: 740px;
    color: white;
    background-color: rgb(149, 98, 166);
}