
@property --progress-value {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

@keyframes workout-progress {
  to { --progress-value: var(--workoutval)}
}

@keyframes dailygoal-progress {
  to { --progress-value: var(--calorieval)}
}


@keyframes workoutgoal-progress {
  to { --progress-value: 20}
}


.progress-bar-circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 100px;
  margin-top:20px;
  margin-left: 45px;
  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-label{
  font-size: 100px;
  white-space: nowrap;
  
}

.form-control{
  font-size: 100px;
  
}
.progress-bar-circle-center {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 100px;
  /* to center the percentage value */

  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar-circle::before {
  counter-reset: percentage var(--progress-value);  
  content: counter(percentage) '%';
}

.progress-bar-circle-center::before {
  counter-reset: percentage var(--progress-value);  
  content: counter(percentage) '%';
}

.workout {
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(127, 121, 205) calc(var(--progress-value) * 1%), rgb(158, 168, 227) 0);
  animation: workout-progress 2s 1 forwards;
}
    
.workout::before {
  animation: workout-progress 2s 1 forwards;
}

.dailygoal {
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(129, 183, 198) calc(var(--progress-value) * 1%), rgb(166, 206, 223) 0);
  animation: dailygoal-progress 2s 1 forwards;
}

.dailygoal::before {
  animation: dailygoal-progress 2s 1 forwards;
}

.workoutgoal {
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(188, 224, 240)calc(var(--progress-value) * 1%), rgb(221, 241, 251) 0);
  animation: workoutgoal-progress 2s 1 forwards;
}
.h2{
  font-family: 'Noto Sans TC';
  font-size: 50px;
}
.workoutgoal::before {
  animation: workoutgoal-progress 2s 1 forwards;
}

body {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  font-family: 'Noto Sans TC', sans-serif;
}

h2 {
  text-align: center;
  white-space: nowrap;
  font-family: 'Noto Sans TC'
  
}

progress {
  visibility: hidden;
  width: 0;
  height: 0;
}