.whole-progress-bar{
    height: 1000px;
}

.bg-currworkout{
    background-color: rgb(0, 128, 124);
    font-size: 20px;
}

.bg-workoutgoal{
    background-color: rgb(255, 72, 72);
    font-size: 20px;
}

.bg-dailygoal{
    background-color: hotpink;
    font-size: 20px;
    
}

.h1{
    font-size: 40px;
    white-space: nowrap;
}
