
.progress{
    height: 200px;
    border-radius: 5%;
}
.pookie-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bg-currworkout{
    background-color: rgb(75, 89, 181);
    font-size: 100px;
}

.bg-workoutgoal{
    background-color: rgb(151, 200, 225);
    font-size: 100px;
}

.bg-dailygoal{
    background-color: rgb(84, 175, 214);
    font-size: 100px;
    
}
